h1 {
  position: relative;
  padding: 0.25em 0;
}
h1:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, #009944, transparent);
  background: linear-gradient(to right, #009944, transparent);
}

table{
  width: 100%;
  border-spacing: 0;
}

table th{
  border-bottom: solid 2px #009944;
  padding: 10px 0;
}

table td{
  border-bottom: solid 2px #ddd;
  text-align: center;
  padding: 10px 0;
}
