<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{props.title}}</title>
    </head>
    <body>
        <a href="/devicelist">設定</a>
        <div id="contents">
            <p>{{props.msg}}</p>
            <table>
                <tr>
                    <th>DEVICE ID</th>
                    <th>ADDRESS</th>
                </tr>
                {% for device in list %}
                <tr>
                    <td><a href="./{{device[0]}}">{{device[0]}}</a></td>
                    <td>{{device[1]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
