<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{props.title}}</title>
        <!-- leafletをロード -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
        <link rel="stylesheet" type="text/css" href="static/all.css">
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
        <!-- leaflet用にスタイルを定義 (地図要素を画面一杯に引き延ばす) -->
        <style type="text/css">
        body {
            margin: 50px;
        }
        #map {
            height: 60vh;
        }
        </style>
    </head>
    <body>
        <h1>{{props.msg}}</h1>

        <!-- <h2>観測したい情報を選んでください。</h2>
        <select id="mode">
            <option value=1>温度情報</option>
            <option value=2>湿度情報</option>
            <option value=3>気圧情報</option>
            <option value=4>距離情報</option>
        </select>
        <script type="text/javascript">
            var selectedMode = $("#mode").val();
        </script> -->
        <h3 class="header_warning">観測情報</h3>
        <div class="box_warning">
          <div class="inner_warning">
            {% for device in list %}
            {% if device[8] == 2%}
            <a href="./{{device[0]}}">{{device[1]}}</a>の予測情報が規定値を超えています。
            {%endif%}
            {% endfor %}
          </div>
        </div>
        <br>
        <h3 class="header_note">予測情報</h3>
        <div class="box_note">
          <div class="inner_note">
            {% for device in list %}
            {% if device[8] == 1%}
            <a href="./{{device[0]}}">{{device[1]}}</a>の予測情報が規定値を超えています。
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <br>
        <div id="map"></div>
        <div id="contents">
            <table>
                <tr>
                    <th>DEVICE ID</th>
                    <th>ADDRESS</th>
                    <th>温度の最大値</th>
                    <th>湿度の最大値</th>
                    <th>気圧の最大値</th>
                    <th>距離の最大値</th>
                    <th>設定</th>
                </tr>
                {% for device in list %}
                <tr>
                    <td><a href="./{{device[0]}}">{{device[0]}}</a></td>
                    <td>{{device[1]}}</td>
                    <td>{{device[4]}}</td>
                    <td>{{device[5]}}</td>
                    <td>{{device[6]}}</td>
                    <td>{{device[7]}}</td>
                    <td><a href="./form/{{device[0]}}">設定</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div><a href="./addition">+デバイスの追加</div>
        <script type="text/javascript">
            var device_obj = {{ list|tojson }};
        </script>
        <script src="static/devicemap.js"></script>
    </body>
</html>
